# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
import pandas as pd
from pymongo import MongoClient
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [6]:
#pretty print the first document in the collection
establishments.find_one()

{'_id': ObjectId('653738b42d8ac8e0a7025b66'),
 'name': 'Noodle Shop',
 'food_type': 'Asian',
 'price': '$$',
 'stars': 4.5,
 'vegetarian_options': True,
 'menu': {'entrees': ['Pho', 'Pad Thai', 'Lo Mein'],
  'drinks': ['Thai Iced Tea', 'Soda', 'Water']},
 'location': {'address': '1234 Main Street',
  'city': 'Denver',
  'state': 'Colorado',
  'zipcode': 80202},
 'reviews': [{'name': 'Bob', 'comment': 'Best Pho in town!'},
  {'name': 'Mary', 'comment': 'Great service!'}],
 'BusinessTypeID': '7832',
 'geocode': {'longitude': None, 'latitude': None},
 'RatingValue': None}

In [7]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': 20}
# Use count_documents to display the number of documents in the result
print("Number of establishments with a hygiene score of 20:",establishments.count_documents(query))

# Display the first document in the results using pprint
print("First Result:")
results = establishments.find(query)
pprint(results[0])

Number of establishments with a hygiene score of 20: 0
First Result:

IndexError: no such item for Cursor instance

In [8]:
# Convert the result to a Pandas DataFrame
Hygiene_20 = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print("Number of rows in DataFrame:",len(Hygiene_20))

# Display the first 10 rows of the DataFrame   
Hygiene_20.head(10)

Number of rows in DataFrame: 0

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [12]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
RatingValue = {'LocalAuthorityName': {'$regex': 'London', '$options': 'i'}, 'RatingValue': {'$gte': 4}}

# Use count_documents to display the number of documents in the result
# Display the first document in the results using pprint
print("Number of establishments in London with rating greater than or equal to 4:",establishments.count_documents(RatingValue))
print("First Result:")
results_rating = establishments.find(RatingValue)
pprint(results_rating[0])

Number of establishments in London with rating greater than or equal to 4: 0
First Result:

IndexError: no such item for Cursor instance

In [10]:
# Convert the result to a Pandas DataFrame
Rating_4 = pd.DataFrame(results_rating)

# Display the number of rows in the DataFrame
print("Number of rows in DataFrame:",len(Rating_4))

# Display the first 10 rows of the DataFrame
Rating_4.head(10)

NameError: name 'results_rating' is not defined

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [13]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.5
longitude = -0.1
rating = 5
sort = [('scores.Hygiene', -1)]
limit = 10

# Print the results
results = list(db.establishments.find(query).sort(sort).limit(limit))
pprint(results)

[]

In [14]:
# Convert result to Pandas DataFrame
results = pd.DataFrame(results)

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [15]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
match_query = {'$match': {'scores.Hygiene': 0}}
# 2. Groups the matches by Local Authority
group_query = {'$group': {'_id': '$LocalAuthorityName', 'count': {'$sum': 1}}}
# 3. Sorts the matches from highest to lowest
sort_values = {'$sort': {'count': -1}}

# Print the number of documents in the result
pipeline = [match_query, group_query, sort_values]

pipe_results = list(establishments.aggregate(pipeline))

# Print the first 10 results
pprint(pipe_results[0:10])

[]

In [16]:
# Convert the result to a Pandas DataFrame
pipe_results = pd.DataFrame(pipe_results)

# Display the number of rows in the DataFrame
print("Number of rows in DataFrame:",len(pipe_results))

# Display the first 10 rows of the DataFrame
pipe_results.head(10)

Number of rows in DataFrame: 0

Empty DataFrame
Columns: []
Index: []